body {
  background-color: #6699ff;
  color: #d5e3ff;
  font-family: Verdana, Arial, sans-serif;
}

h1 {
  line-height: 200%;
  text-align: center;
}

nav {
  font-weight: bold;
  text-align: center;
}

.category {
  font-weight: bold;
  background-color: #6699ff;
  color: #003366;
  font-size: 1.1em;
}
.category1 {
    margin-left: 40px;
}

footer nav {
  font-size: .7em;
  text-align: left;
  font-weight: bold;
}
footer ul{
  padding-left: 0px
}

nav li{
  display: inline;
}
.wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 80%
}
